%dt
	[
	%a{:name => "suenderhof10"}> 1
	]
%dd
	Claudia Suenderhauf, Felix Hammann, Andreas Maunz, Christoph Helma, and Jo¿rg
	Huwyler.
	Combinatorial qsar modeling of human intestinal absorption.
	= succeed "," do
		%em Molecular Pharmaceutics
	8(1):213-224, 2011.
	[&nbsp;
	%a{:href => "http://dx.doi.org/10.1021/mp100279d"}> DOI
	\&nbsp;|
	%a{:href => "http://pubs.acs.org/doi/abs/10.1021/mp100279d"} http
	&nbsp;]
%dt
	[
	%a{:name => "maunz10a"}> 2
	]
%dd
	Andreas Maunz, Christoph Helma, and Stefan Kramer.
	Efficient mining for structurally diverse subgraph patterns in large
	molecular databases.
	= succeed "," do
		%em Machine Learning
	pages 1-26, 2010.
	[&nbsp;
	%a{:href => "http://dx.doi.org/10.1007/s10994-010-5187-6"}> http
	\&nbsp;]
%dt
	[
	%a{:name => "hardy10"}> 3
	]
%dd
	Barry Hardy, Nicki Douglas, Christoph Helma, Micha Rautenberg, Nina Jeliazkova,
	Vedrin Jeliazkov, Ivelina Nikolova, Romualdo Benigni, Olga Tcheremenskaia,
	Stefan Kramer, Tobias Girschick, Fabian Buchwald, Joerg Wicker, Andreas
	Karwath, Martin Gutlein, Andreas Maunz, Haralambos Sarimveis, Georgia
	Melagraki, Antreas Afantitis, Pantelis Sopasakis, David Gallagher, Vladimir
	Poroikov, Dmitry Filimonov, Alexey Zakharov, Alexey Lagunin, Tatyana
	Gloriozova, Sergey Novikov, Natalia Skvortsova, Dmitry Druzhilovsky, Sunil
	Chawla, Indira Ghosh, Surajit Ray, Hitesh Patel, and Sylvia Escher.
	Collaborative development of predictive toxicology applications.
	= succeed "," do
		%em Journal of Cheminformatics
	2:7, 2010.
%dt
	[
	%a{:name => "maunz08b"}> 4
	]
%dd
	A.&nbsp;Maunz and C.&nbsp;Helma.
	Prediction of toxic effects of pharmaceutical agents.
	In K.&nbsp;V. Balakin, editor,
	= succeed "," do
		%em
			Pharmaceutical Data Mining: Approaches
			and Applications for Drug Discovery
	New York, 2009. J. Wiley &amp; Sons, Inc.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/chapter_mh.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "maunz09a"}> 5
	]
%dd
	A.&nbsp;Maunz, C.&nbsp;Helma, and S.&nbsp;Kramer.
	Large-scale graph mining using backbone refinement classes.
	In
	= succeed "," do
		%em
			Proceedings of the 15th ACM SIGKDD International Conference
			on Knowledge Discovery and Data Mining (KDD-09)
	page in press, 2009.
	[&nbsp;
	%a{:href => "http://www.maunz.de/ls_graph_mining_using_bbrcs.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "hammann09a"}> 6
	]
%dd
	F.&nbsp;Hammann, H.&nbsp;Gutmann, U.&nbsp;Jecklin, A.&nbsp;Maunz, C.&nbsp;Helma, and J.&nbsp;Drewe.
	Development of decision tree models for substrates, inhibitors and
	inducers of P-glycoprotein.
	= succeed "," do
		%em Current Drug Metabolism
	10:339-46, 2009.
%dt
	[
	%a{:name => "hammann09b"}> 7
	]
%dd
	Felix Hammann, Heike Gutmann, Ulli Baumann, Christoph Helma, and Juergen Drewe.
	Classification of cytochrome p(450) activities using machine learning
	methods.
	= succeed "," do
		%em Molecular pharmaceutics
	6:1920-6, 2009.
%dt
	[
	%a{:name => "maunz08a"}> 8
	]
%dd
	A.&nbsp;Maunz and C.&nbsp;Helma.
	Prediction of chemical toxicity with local support vector regression
	and activity-specific kernels.
	= succeed "," do
		%em SAR QSAR Environ. Res.
	19:413-431, 2008.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/mh_tf.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "benigni07"}> 9
	]
%dd
	R.&nbsp;Benigni, T.&nbsp;I. Netzeva, E.&nbsp;Benfenati, C.&nbsp;Bossa, R.&nbsp;Franke, C.&nbsp;Helma,
	E.&nbsp;Hulzebos, C.&nbsp;Marchant, A.&nbsp;Richard, Y.-T. Woo, and C.&nbsp;Yang.
	The expanding role of predictive toxicology: an update on the (Q)SAR
	models for mutagens and carcinogens.
	= succeed "," do
		%em J Environ Sci Health C Environ Carcinog Ecotoxicol Rev.
	25:53-97, 2007.
%dt
	[
	%a{:name => "helma06a"}> 10
	]
%dd
	C.&nbsp;Helma.
	Lazy structure-activity relationships (
	%tt> lazar
	) for the
	prediction of rodent carcinogenicity and
	%em Salmonella
	mutagenicity.
	= succeed "," do
		%em Molecular Diversity
	10:147-158, 2006.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/modi020905.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "helma06b"}> 11
	]
%dd
	C.&nbsp;Helma and J.&nbsp;Kazius.
	Artificial intelligence and data mining for toxicity prediction.
	= succeed "," do
		%em Current Computer-Aided Drug Design
	2:1-19, 2006.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/helma_kazius_ccadd.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "vracko06"}> 12
	]
%dd
	M.&nbsp;Vracko, V.&nbsp;Bandelj, P.&nbsp;Barbieri, E.&nbsp;Benfenati, Q.&nbsp;Chaudhry, M.&nbsp;Cronin,
	J.&nbsp;Devillers, A.&nbsp;Gallegos, G.&nbsp;Gini, P.&nbsp;Gramatica, C.&nbsp;Helma, D.&nbsp;Neagu,
	T.&nbsp;Netzeva, M.&nbsp;Pavan, G.&nbsp;Patlevicz, M.&nbsp;Randic, I.&nbsp;Tsakovska, and A.&nbsp;Worth.
	Validation of counter propagation neural network models for
	predictive toxicology according to the OECD principles. A case study.
	= succeed "," do
		%em SAR QSAR Environ. Res.
	17:265-84, 2006.
%dt
	[
	%a{:name => "helma05a"}> 13
	]
%dd
	C.&nbsp;Helma.
	= succeed "." do
		%em Predictive Toxicology
	CRC Press, Boca Raton, 2005.
%dt
	[
	%a{:name => "helma05b"}> 14
	]
%dd
	C.&nbsp;Helma.
	%tt lazar:
	Lazy Structure - Activity Relationships for toxicity
	prediction.
	In C.&nbsp;Helma, editor,
	= succeed "," do
		%em Predictive Toxicology
	pages 479-499. CRC
	Press, Boca Raton, 2005.
%dt
	[
	%a{:name => "helma05c"}> 15
	]
%dd
	C.&nbsp;Helma.
	%em In Silico
	predictive toxicology: The state-of-the-art and
	strategies to predict human health effects.
	= succeed "," do
		%em Current Opinions in Drug Discovery &amp; Development
	8:27-31,
	2005.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/helma_coddd.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "helma05d"}> 16
	]
%dd
	C.&nbsp;Helma.
	A brief introduction to predictive toxicology.
	In C.&nbsp;Helma, editor,
	= succeed "." do
		%em Predictive Toxicology
	CRC Press, Boca
	Raton, 2005.
%dt
	[
	%a{:name => "kramer05"}> 17
	]
%dd
	S.&nbsp;Kramer and C.&nbsp;Helma.
	Machine learning and data mining.
	In C.&nbsp;Helma, editor,
	= succeed "," do
		%em Predictive Toxicology
	pages 223-254. CRC
	Press, Boca Raton, 2005.
%dt
	[
	%a{:name => "helma04a"}> 18
	]
%dd
	C.&nbsp;Helma, T.&nbsp;Kramer, S.&nbsp;Kramer, and L.&nbsp;DeRaedt.
	Data Mining and Machine Learning techniques for the
	identification of mutagenicity inducing substructures and
	Structure-Activity Relationships of noncongeneric compounds.
	= succeed "," do
		%em J. Chem. Inf. Comput. Sci.
	44:1402-1411, 2004.
	[&nbsp;
	%a{:href => "http://pubs3.acs.org/acs/journals/doilookup?in_doi=10.1021/ci034254q"}> http
	\&nbsp;]
%dt
	[
	%a{:name => "helma04b"}> 19
	]
%dd
	C.&nbsp;Helma.
	Data mining and knowledge discovery in predictive toxicology.
	= succeed "," do
		%em SAR QSAR Environ. Res.
	15:367-383, 2004.
%dt
	[
	%a{:name => "helma03a"}> 20
	]
%dd
	C.&nbsp;Helma and S.&nbsp;Kramer.
	A survey of the Predictive Toxicology Challenge.
	= succeed "," do
		%em Bioinformatics
	19:1179-1182, 2003.
	[&nbsp;
	%a{:href => "http://bioinformatics.oxfordjournals.org/cgi/content/abstract/19/10/1179"}> http
	\&nbsp;]
%dt
	[
	%a{:name => "helma03b"}> 21
	]
%dd
	C.&nbsp;Helma, S.&nbsp;Kramer, and L.&nbsp;DeRaedt.
	The molecular feature miner MolFea.
	In M.&nbsp;Hicks and C.&nbsp;Kettner, editors,
	= succeed "," do
		%em
			Proceedings of the
			Beilstein Workshop 2002: Molecular Informatics: Confronting Complexity
	pages 79-93. Beilstein Institut, Frankfurt, 2003.
%dt
	[
	%a{:name => "toivonen03"}> 22
	]
%dd
	H.&nbsp;Toivonen, A.&nbsp;Srinivasan, R.&nbsp;D. King, S.&nbsp;Kramer, and C.&nbsp;Helma.
	Statistical evaluation of the Predictive Toxicology Challenge
	2000-2001.
	= succeed "," do
		%em Bioinformatics
	19:1183-1193, 2003.
	[&nbsp;
	%a{:href => "http://bioinformatics.oxfordjournals.org/cgi/content/abstract/19/10/1183"}> http
	\&nbsp;]
%dt
	[
	%a{:name => "helma02a"}> 23
	]
%dd
	C.&nbsp;Helma.
	Data mining in toxicology.
	In J.P.V. Heuvel, W.F. Greenlee, G.H. Perdew, and W.B. Mattes,
	editors,
	= succeed "," do
		%em
			Comprehensive Toxicology Vol XX. Cellular and Molecular
			Toxicology
	pages 611-624. Elsevier, 2002.
%dt
	[
	%a{:name => "kassie02"}> 24
	]
%dd
	F.&nbsp;Kassie, S.&nbsp;Rabot, M.&nbsp;Uhl, W.&nbsp;Huber, H.M. Qin, C.&nbsp;Helma, R.&nbsp;Schulte-Hermann,
	and S.&nbsp;Knasm&uuml;ller.
	Chemoprotective effects of garden cress (lepidium sativum) and its
	constituents towards 2-amino-3-methyl-imidazo[4,5-f]quinoline (IQ)-induced
	genotoxic effects and colonicneoplastic lesions.
	= succeed "," do
		%em Carcinogenesis
	23:1155-1161, 2002.
%dt
	[
	%a{:name => "kramer02"}> 25
	]
%dd
	S.&nbsp;Kramer, E.&nbsp;Frank, and C.&nbsp;Helma.
	Fragment generation and Support Vector Machines for inducing
	SARs.
	= succeed "," do
		%em SAR and QSAR in Environmental Research
	13:509-523, 2002.
%dt
	[
	%a{:name => "gottmann01"}> 26
	]
%dd
	E.&nbsp;Gottmann, S.&nbsp;Kramer, B.&nbsp;Pfahringer, and C.&nbsp;Helma.
	Data quality in predictive toxicology: Reproducibility of rodent
	carcinogenicity experiments.
	= succeed "," do
		%em Environ. Health Perspect.
	109:509-514, 2001.
	[&nbsp;
	%a{:href => "http://www.ehponline.org/members/2001/109p509-514gottmann/gottmann-full.html"}> .html
	\&nbsp;]
%dt
	[
	%a{:name => "helma01b"}> 27
	]
%dd
	C.&nbsp;Helma, R.D. King, S.&nbsp;Kramer, and A.&nbsp;Srinivasan.
	The Predictive Toxicology Challenge 2000-2001.
	= succeed "," do
		%em Bioinformatics
	17:107-108, 2001.
	[&nbsp;
	%a{:href => "http://bioinformatics.oupjournals.org/cgi/reprint/17/1/107.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "kramer01e"}> 28
	]
%dd
	S.&nbsp;Kramer, L.&nbsp;De&nbsp;Raedt, and C.&nbsp;Helma.
	Molecular feature mining in HIV data.
	In
	= succeed "," do
		%em
			Proceedings of the Seventh ACM SIGKDD International
			Conference on Knowledge Discovery and Data Mining (KDD-01)
	pages 136-143,
	2001.
%dt
	[
	%a{:name => "helma00a"}> 29
	]
%dd
	C.&nbsp;Helma, S.&nbsp;Kramer, B.&nbsp;Pfahringer, and E.&nbsp;Gottmann.
	Data quality in predictive toxicology: Identification of chemical
	structures and calculation of chemical properties.
	= succeed "," do
		%em Environ. Health Perspect.
	108:1029-1033, 2000.
	[&nbsp;
	%a{:href => "http://ehpnet1.niehs.nih.gov/docs/2000/108p1029-1033helma/abstract.html"}> .html
	\&nbsp;]
%dt
	[
	%a{:name => "helma00b"}> 30
	]
%dd
	C.&nbsp;Helma, E.&nbsp;Gottmann, and S.&nbsp;Kramer.
	Knowledge discovery and data mining in toxicology.
	= succeed "," do
		%em Stat Methods Med Res.
	9:329-358, 2000.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/smmr.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "helma00c"}> 31
	]
%dd
	C.&nbsp;Helma, S.&nbsp;Kramer, and B.&nbsp;Pfahringer.
	Carcinogenicity prediction for noncongeneric compounds: Experiments
	with the Machine Learning Program SRT and various sets of chemical
	descriptors.
	In
	= succeed "," do
		%em Molecular Modelling and Prediction of Bioactivity
	page 464,
	2000.
%dt
	[
	%a{:name => "helma00d"}> 32
	]
%dd
	C.&nbsp;Helma and M.&nbsp;Uhl.
	A public domain image analysis program for the single cell gel
	electrophoresis (comet) assay.
	= succeed "," do
		%em Mutation Res.
	466:9-15, 2000.
	[&nbsp;
	%a{:href => "http://www.in-silico.de/articles/comet.pdf"}> .pdf
	\&nbsp;]
%dt
	[
	%a{:name => "helma00e"}> 33
	]
%dd
	C.&nbsp;Helma, E.&nbsp;Gottmann, S.&nbsp;Kramer, and B.&nbsp;Pfahringer.
	The application of machine learning algorithms to detect chemical
	properties responsible for carcinogenicity.
	In K.&nbsp;Gundertofte and F.S. Jorgensen, editors,
	= succeed "," do
		%em
			Molecular
			Modeling and Prediction of Bioactivity
	pages 464-466, New York, 2000.
	Kluwer Academic/Plenum Publishers.
%dt
	[
	%a{:name => "helma00f"}> 34
	]
%dd
	C.&nbsp;Helma, E.&nbsp;Gottmann, S.&nbsp;Kramer, and B.&nbsp;Pfahringer.
	Artificial Intelligence Methoden zur Vorhersage der
	Kanzerogenit&auml;t organischer Verbindungen.
	In H.&nbsp;Sch&ouml;ffl, H.&nbsp;Spielmann, and H.A. Tritthart, editors,
	= succeed "," do
		%em
			Ersatz- und Erg&auml;nzungsmethoden zu Tierversuchen: Forschung ohne
			Tierversuche
	pages 128-134, Wien-New York, 2000. Springer Verlag.
%dt
	[
	%a{:name => "uhl00"}> 35
	]
%dd
	M.&nbsp;Uhl, C.&nbsp;Helma, and S.&nbsp;Knasm&uuml;ller.
	Evaluation of the single cell gel electrophoretic assay with human
	hepatoma (HepG2) cells.
	= succeed "," do
		%em Mutation Res.
	468:213-225, 2000.
%dt
	[
	%a{:name => "helma99a"}> 36
	]
%dd
	C.&nbsp;Helma, E.&nbsp;Gottmann, S.&nbsp;Kramer, and B.&nbsp;Pfahringer.
	Data quality issues in toxicological knowledge discovery.
	In
	= succeed "," do
		%em
			Predictive Toxicology of Chemicals: Experiences and Impact of
			AI Tools
	pages 8-11, Menlo Park, California, 1999. AAAI Press.
%dt
	[
	%a{:name => "pfahringer99"}> 37
	]
%dd
	B.&nbsp;Pfahringer, E.&nbsp;Gottmann, C.&nbsp;Helma, and S.&nbsp;Kramer.
	Efficiency/representational issues in toxicological knowledge
	discovery.
	In
	= succeed "," do
		%em
			Predictive Toxicology of Chemicals: Experiences and Impact of
			AI Tools
	pages 86-89, Menlo Park, California, 1999. AAAI Press.
%dt
	[
	%a{:name => "uhl99"}> 38
	]
%dd
	M.&nbsp;Uhl, C.&nbsp;Helma, and S.&nbsp;Knasm&uuml;ller.
	Single-cell gel electrophoresis assays with human-derived hepatoma
	(HepG2) cells.
	= succeed "," do
		%em Mutation Res.
	441:215-224, 1999.
%dt
	[
	%a{:name => "helma98a"}> 39
	]
%dd
	C.&nbsp;Helma, E.&nbsp;Gottmann, S.&nbsp;Kramer, and B.&nbsp;Pfahringer.
	The application of machine learning algorithms to detect chemical
	properties responsible for carcinogenicity.
	In
	= succeed "," do
		%em
			Molecular Modelling and Prediction of Bioactivity.
			Proceedings of the 12th European Symposium on Quantitative Structure-Activity
			Relationships
	1998.
%dt
	[
	%a{:name => "helma98b"}> 40
	]
%dd
	C.&nbsp;Helma, P.&nbsp;Eckl, E.&nbsp;Gottmann, F.&nbsp;Kassie, W.&nbsp;Rodinger, H.&nbsp;Steinkellner,
	C.&nbsp;Windpassinger, R.&nbsp;Schulte-Hermann, and S.&nbsp;Knasm&uuml;ller.
	Genotoxic and ecotoxic effects of groundwaters and their relation to
	routinely measured chemical parameters.
	= succeed "," do
		%em Environ. Sci. Technol.
	32:1799-1805, 1998.
%dt
	[
	%a{:name => "knasmueller98"}> 41
	]
%dd
	S.&nbsp;Knasm&uuml;ller, C.&nbsp;Helma, P.&nbsp;Eckl, E.&nbsp;Gottmann, H.&nbsp;Steinkellner, F.&nbsp;Kassie,
	T.&nbsp;Haider, W.&nbsp;Parzefall, and R.&nbsp;Schulte-Hermann.
	Investigations on genotoxic effects of groundwater from the
	Mitterndorfer Senke from the vicinity of Wiener Neustadt.
	= succeed "," do
		%em Wiener Klinische Wochenschrift
	110:824-833, 1998.
%dt
	[
	%a{:name => "kramer98"}> 42
	]
%dd
	S.&nbsp;Kramer, B.&nbsp;Pfahringer, and C.&nbsp;Helma.
	Stochastic propositionalization of non-determinate background
	knowledge.
	In
	= succeed "," do
		%em
			Proceedings of the 8th International Workshop on Inductive
			Logic Programming (ILP-98)
	pages 80-94, Berlin Heidelberg New York, 1998.
	Springer.
%dt
	[
	%a{:name => "steinkellner98"}> 43
	]
%dd
	H.&nbsp;Steinkellner, M.S. Kong, C.&nbsp;Helma, S.&nbsp;Ecker, T.H. Ma, O.&nbsp;Horak, M.&nbsp;Kundi,
	and S.&nbsp;Knasm&uuml;ller.
	Genotoxic effects of heavy metals: Comparative investigation with
	plant bioassays.
	= succeed "," do
		%em Environ. Mol. Mutagen.
	31:183-191, 1998.
%dt
	[
	%a{:name => "helma97a"}> 44
	]
%dd
	C.&nbsp;Helma and S.&nbsp;Knasm&uuml;ller.
	Die Belastung von Gew&auml;ssern mit gentoxischen Substanzen
	IIa: Die Quellen gentoxischer Kontaminationen (Industrielle
	Emissionen).
	= succeed "," do
		%em UWSF-Z.Umweltchem.&Ouml;kotox.
	9:41-48, 1997.
%dt
	[
	%a{:name => "helma97b"}> 45
	]
%dd
	C.&nbsp;Helma and S.&nbsp;Knasm&uuml;ller.
	Die Belastung von Gew&auml;ssern mit gentoxischen Substanzen
	IIb: Die Quellen gentoxischer Kontaminationen (Nichtindustrielle
	Emissionen).
	= succeed "," do
		%em UWSF-Z.Umweltchem.&Ouml;kotox.
	9:163-168, 1997.
%dt
	[
	%a{:name => "helma97c"}> 46
	]
%dd
	C.&nbsp;Helma.
	Die Situation der Chlorchemie in &Ouml;stereich: Chlorh&auml;ltige
	Pflanzenschutz- Holzschutz und Wasserdesinfektionsmittel - Entwicklungen im
	Zeitraum 1993 bis 1997.
	Technical report, Gesellschaft &Ouml;sterreichischer Chemiker, 1997.
%dt
	[
	%a{:name => "knasmueller97"}> 47
	]
%dd
	S.&nbsp;Knasm&uuml;ller, W.&nbsp;Parzefall, C.&nbsp;Helma, F.&nbsp;Kassie, S.&nbsp;Ecker, and
	R.&nbsp;Schulte-Hermann.
	Toxic effects of griseofulvin: Disease models, mechanisms, and risk
	assessment.
	= succeed "," do
		%em Critical Reviews in Toxicology
	27:495-537, 1997.
%dt
	[
	%a{:name => "kramer97a"}> 48
	]
%dd
	S.&nbsp;Kramer, B.&nbsp;Pfahringer, and C.&nbsp;Helma.
	Mining for causes of cancer: Machine learning experiments at various
	levels of detail.
	In
	= succeed "," do
		%em
			Proceedings of the Third International Conference on
			Knowledge Discovery and Data Mining (KDD-97)
	Menlo Park, CA, 1997. AAAI
	Press.
%dt
	[
	%a{:name => "helma96a"}> 49
	]
%dd
	C.&nbsp;Helma, V.&nbsp;Mersch-Sundermann, V.S. Houk, U.&nbsp;Glasbrenner, C.&nbsp;Klein,
	L.&nbsp;Wenquing, K.&nbsp;Fekadu, R.&nbsp;Schulte-Hermann, and S.&nbsp;Knasm&uuml;ller.
	Comparative evaluation of four bacterial assays for the detection of
	genotoxic effects in water samples.
	= succeed "," do
		%em Environ. Sci. Technol.
	30:897-907, 1996.
%dt
	[
	%a{:name => "helma95"}> 50
	]
%dd
	C.&nbsp;Helma, L.&nbsp;Kronberg, T.H. Ma, and S.&nbsp;Knasm&uuml;ller.
	Genotoxic effects of the chlorinated hydroxyfuranones
	3-chloro-4-(dichloromethyl)-5-hydroxy-2[5H]-furanone and
	3,4-dichloro-5-hydroxy-2[5H]-furanone in
	%i Tradescantia
	micronucleus assays.
	= succeed "," do
		%em Mutation Res.
	346:181-186, 1995.
%dt
	[
	%a{:name => "helma95b"}> 51
	]
%dd
	C.&nbsp;Helma.
	Erfahrungen mit dem Einsatz biologischer Mutationstests zur
	Verfahrensoptimierung und Umweltkontrolle.
	In
	= succeed "," do
		%em Handbuch der Umwelttechnik 1995
	pages 266-267. Wien, 1995.
%dt
	[
	%a{:name => "helma95c"}> 52
	]
%dd
	C.&nbsp;Helma.
	Detection of genotoxic contaminations in water.
	In M.&nbsp;Guminska and J.&nbsp;Miedzobrodzki, editors,
	= succeed "," do
		%em
			Molecular Biology
			for Environment and Man
	pages 99-111. 1995.
%dt
	[
	%a{:name => "helma94a"}> 53
	]
%dd
	C.&nbsp;Helma, R.&nbsp;Sommer, R.&nbsp;Schulte-Hermann, and S.&nbsp;Knasm&uuml;ller.
	Enhanced clastogenicity of contaminated ground water following UV
	irradiation detected by the
	%em Tradescantia
	micronucleus assay.
	= succeed "," do
		%em Mutation Res.
	323:93-98, 1994.
%dt
	[
	%a{:name => "helma94b"}> 54
	]
%dd
	C.&nbsp;Helma, S.&nbsp;Knasm&uuml;ller, and R.&nbsp;Schulte-Hermann.
	Die Belastung von W&auml;ssern mit gentoxischen Substanzen I. Methoden
	zur Pr&uuml;fung der Gentoxizit&auml;t.
	= succeed "," do
		%em UWSF-Z.Umweltchem.&Ouml;kotox.
	6:277-288, 1994.
%dt
	[
	%a{:name => "helma94c"}> 55
	]
%dd
	C.&nbsp;Helma, S.&nbsp;Knasm&uuml;ller, and R.&nbsp;Schulte-Hermann.
	Biologische Tests zur Pr&uuml;fung der Gentoxizit&auml;t:
	Einsatzm&ouml;glichkeiten zur Verfahrensoptimierung und Emissionskontrolle.
	In Brandl et&nbsp;al., editor,
	= succeed "," do
		%em
			Ecoinforma 94. Bd 9, Kanzerogenese
			durch Umweltchemikalien
	pages 497-512. Wien, 1994.
%dt
	[
	%a{:name => "fassold93"}> 56
	]
%dd
	E.&nbsp;Fassold, C.&nbsp;Helma, S.&nbsp;Knasm&uuml;ller, and R.&nbsp;Sattelberger.
	Die Situation der Chlorchemie in &Ouml;stereich, 8. Teil:
	Chlorh&auml;ltige Pflanzenschutz- Holzschutz und Wasserdesinfektionsmittel.
	Technical report, Gesellschaft &Ouml;sterreichischer Chemiker, 1993.
%dt
	[
	%a{:name => "helma92"}> 57
	]
%dd
	C.&nbsp;Helma et.al.
	Abfallarme Gro&szlig;k&uuml;che.
	Technical report, &Ouml;sterreichisches &Ouml;kologie Institut, 1992.
%dt
	[
	%a{:name => "helma91"}> 58
	]
%dd
	C.&nbsp;Helma et.al.
	Ausstieg aus der M&uuml;llverbrennung.
	Technical report, &Ouml;sterreichisches &Ouml;kologie Institut, 1991.
